body {
  background-color: #f5d9df;
  font-family: "nunito";
}
.red h2 {
  color: #ea1c2c;
  font-weight: 100;
  font-size: 2.5rem;
}
.red p {
  color: #f498b8;
  font-weight: 100;
  font-size: 1.125rem;
  line-height: 2;
}

#mainNavbar {
  font-size: 1.5rem;
  font-weight: 100;
}

#mainNavbar .nav-link {
  color: white;
}
#mainNavbar .nav-link:hover {
  color: #ea1c2c;
}
#mainNavbar .navbar-brand {
  color: #ea1c2c;
}
#headinggroup span {
  color: #ea1c2c;
}
#headinggroup h1 {
  font-weight: 100;
  font-size: 4rem;
}
.navbar.scrolled {
  background-color: rgb(222, 192, 222);
  transition: background-color 1s;
}
@media (max-width: 1200px) {
  #headinggroup h1 {
    font-size: 3rem;
  }
}
.content {
  margin-bottom: 100px;
}
